{% extends "layout.html" %}
{% block content %}
   <h2>Home Page</h2>
  <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">IP Address</th>
        <th scope="col">Hostname</th>
        <th scope="col">Type</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
        <tr>
          <td><a href="{{ url_for('device', device_id=device.id) }}">{{ device.ip }}</a></td>
          <td>{{ device.name }}</td> 
          <td>{{ device.devicetype }}</td>
          <td>{{ device.loc }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  

 -->


<!--     {% for device in devices %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('device', device_id=device.id) }}">{{ device.ip }}</a>
              <p class="mr-2 mt-2"> Hostname: {{ device.name }}</p>
              <p class="mr-2"> Device Type: {{ device.devicetype }}</p>
              <p class="mr-2"> Location: {{ device.loc }}</p>
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}


<h2><a class="article-title" href="{{ url_for('device', device_id=device.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p> -->