{% extends "layout.html" %}
{% block content %}
<div>

  <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('peer_update') }}">Update</a>
  <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('peer_index') }}">List</a>
  <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('peer_index_active') }}">Active</a>
  <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('peer_index_idle') }}">Idle</a>
  <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('peer_search') }}">Search</a>
  <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('peer_add') }}">Create</a>
  <h5> ({{ title }} {{ peers.total }}) </h5>
</div>
  <div class="container-fluid">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Peer IP</th>
          <th scope="col">Name</th>
          <th scope="col">Local Peer</th>
        </tr>
      </thead>
      <tbody>
        {% for peer in peers.items %}
        <tr>
          <td><img class="img-fluid article-img" src="{{ url_for('static', filename='profile_pics/' + peer.image_file) }}"></td>
          <td><a href="{{ url_for('peer_show', id=peer.id) }}">{{ peer.ip }}</a></td>
          <td>{{ peer.name }}</td>
          <td>{{ peer.local_peer.name }}</td>
        </tr>
        <tr style="height: 5px;"/>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% for page_num in peers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} 
    {% if page_num %}
      {% if peers.page == page_num %} 
        <a class="btn btn-info mb-4" href="{{ url_for('peer_index', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('peer_index', page=page_num) }}">{{ page_num }}</a>
      {% endif %}  
    {% else %}
      ...
    {% endif %}
  {% endfor %}

{% endblock content %}
